@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: spotify;
  src: url('../font/spotify/CircularSpotifyText-Book.otf');
}

@font-face {
  font-family: spotifyLight;
  src: url('../font/spotify/CircularSpotifyText-Light.otf');
}

@font-face {
  font-family: spotifyBold;
  src: url('../font/spotify/CircularSpotifyText-Bold.otf');
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* spotify */

.spotify {
  background: #121212;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.spotify .left-nav {
  width: 17rem;
  background: #000;
  display: flex;
  flex-direction: column;
}
.spotify .content {
  flex-basis: 100%;
}

.spotify .content .content-1 {
  padding: 1rem 2rem 2rem 2rem;
  background-color: rgb(80, 40, 240);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) 0px,
    rgb(18, 18, 18) 100%
  );
}

.spotify .content .content-2 {
  padding: 1rem 2rem 4rem 2rem;
  height: 300px;
  overflow: hidden;
}

.spotify .content .content-2.mt {
  margin-top: 2.4rem;
}

.spotify .content .content-2 .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spotify .content .content-2 .header-container h3 {
  font-family: spotify, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.spotify .content .content-2 .header-container p {
  font-family: spotify, sans-serif;
  color: rgb(179, 179, 179);
  font-size: 12px;
  font-weight: 700;
}

.spotify .content .content-2 .recent-shows {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0 20px;
}

.spotify .content .content-2 .recent-shows .album {
  border-radius: 7px;
  background-color: rgb(24, 24, 24);
  height: 240px;
}

.spotify .content .content-1 h2 {
  font-family: spotify, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-top: 2.2rem;
}

.spotify .content .content-1 .recent-albums {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 20px;
}

.spotify .content .content-1 .recent-albums .recent-album {
  height: 80px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.spotify .content .content-1 .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spotify .content .content-1 .profile {
  justify-content: center;
  align-items: center;
  display: flex;
}

.spotify .content .content-1 .profile .profile-upgrade {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0.1px solid white;
  border-radius: 2rem;
  margin-right: 1.5rem;
  padding: 0.3rem 1rem;
}

.spotify .content .content-1 .profile .profile-upgrade p {
  color: white;
  font-size: 14px;
  font-family: spotifyBold, sans-serif;
  padding-top: 3px;
}

.spotify .content .content-1 .profile .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 5px;
  background: #000;
  gap: 0.5rem;
}

.spotify .content .content-1 .profile .profile-container > p {
  color: white;
  font-size: 13.333px;
  font-family: spotifyBold, sans-serif;
  margin-top: 5px;
}

.spotify .content .content-1 .profile .profile-container .profile-dropdown {
  fill: white;
  margin-right: 6px;
}

.spotify
  .content
  .content-1
  .profile
  .profile-container
  .profile-img-container {
  background-color: #535353;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify
  .content
  .content-1
  .profile
  .profile-container
  .profile-img-container
  .user-profile {
  fill: white;
}

.spotify .content .content-1 .nav-container .controls-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.spotify .content .content-1 .nav-container .controls-container .control {
  background: black;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .content .content-1 .nav-container .controls-container .control svg {
  fill: white;
}

.spotify
  .content
  .content-1
  .nav-container
  .controls-container
  .control.left-control
  svg {
  margin-right: 0.1rem;
}

.spotify
  .content
  .content-1
  .nav-container
  .controls-container
  .control.right-control {
  margin-left: 0.6rem;
}

.spotify .player {
  background: rgb(24, 24, 24);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
}
.spotify .player .album-container {
  display: flex;
}
.spotify .player .album-container img {
  width: 56px;
  height: 56px;
}
.spotify .player .album-container .song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.9rem;
}

.spotify .player .album-container .song-title p:first-child {
  color: white;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1rem;
  font-family: spotify, sans-serif;
}

.spotify .player .album-container .song-title p:last-child {
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-family: spotify, sans-serif;
  letter-spacing: normal;
  line-height: 1rem;
}
.spotify .player .album-container .like-container {
  display: flex;
  align-items: center;
  margin-left: 1.7rem;
}

.spotify .player .album-container .like-container .spotify-like {
  fill: rgb(179, 179, 179);
}
.spotify .player .album-container .like-container .screen-share {
  margin-left: 1rem;
}
.spotify .player .album-container .like-container .screen-share g {
  fill: rgb(179, 179, 179);
}

.spotify .player .audio-container {
  display: flex;
  align-items: center;
}

.spotify .player .audio-container .audio-line {
  width: 93px;
  height: 4px;
  border-radius: 1rem;
  background-color: rgb(179, 179, 179);
  overflow: hidden;
}
.spotify .player .audio-container .audio-line .active-line {
  background-color: white;
  width: 70%;
  height: 100%;
}

.spotify .player .audio-container .connect,
.spotify .player .audio-container .connect-2,
.spotify .player .audio-container .lyric {
  fill: rgb(179, 179, 179);
  margin-right: 1rem;
}
.spotify .player .audio-container .speaker {
  margin-right: 0.5rem;
  fill: rgb(179, 179, 179);
}
.spotify .player .control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify .player .control-container .controls-buttons {
  display: flex;
  align-items: center;
}

.spotify .player .control-container .controls-buttons .repeat {
  fill: rgb(179, 179, 179);
}
.spotify .player .control-container .controls-buttons .back-button {
  fill: rgb(179, 179, 179);
  margin-left: 1.5rem;
}

.spotify .player .control-container .controls-buttons .play-container {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .player .control-container .controls-buttons .play-container .play {
  fill: rgb(24, 24, 24);
}

.spotify .player .control-container .controls-buttons .forward-button {
  fill: rgb(179, 179, 179);
}

.spotify .player .control-container .controls-buttons .loop {
  fill: rgba(255, 255, 255, 0.3);
  margin-left: 1.5rem;
}

.spotify .player .control-container .song-time-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .player .control-container .song-time-container p {
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-family: spotify, sans-serif;
  letter-spacing: normal;
  margin-top: 4px;
}
.spotify .player .control-container .song-time-container .audio-line {
  width: 30vw;
  height: 4px;
  border-radius: 1rem;
  margin: 0 0.7rem;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.spotify
  .player
  .control-container
  .song-time-container
  .audio-line
  .active-line {
  background-color: white;
  width: 30%;
  height: 100%;
}

.review-1 {
  height: 110vh;
  overflow: hidden;
  background: #8cc0de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-1 .container {
  position: relative;
  height: 700px;
  width: 600px;
  margin-top: 4rem;
}

.review-1 .container .bg-form {
  background: #fff;
  height: 700px;
  width: 600px;
  border-radius: 23px;
  position: absolute;
  top: -4rem;
  left: -4rem;
}

.review-1 .container .main-form {
  background: #f8f8f8;
  height: 700px;
  width: 600px;
  border-radius: 23px;
  position: absolute;
  box-shadow: 0px 12px 92px rgba(25, 27, 74, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
}

.review-1 .container .main-form .review-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review-1 .container .main-form .review-header h2 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 38px;
  width: 233px;
  margin-top: 10px;
}

.review-1 .container .main-form .review-header .header-container {
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 7px 20px rgba(115, 116, 156, 0.08);
  border-radius: 15px;
  padding: 18px;
}

.review-1
  .container
  .main-form
  .review-header
  .header-container
  .rating-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.review-1
  .container
  .main-form
  .review-header
  .header-container
  .rating-header
  h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #191b4a;
  margin-top: 3px;
}

.review-1 .container .main-form .review-header .header-container p {
  text-align: center;
  margin-top: 7px;
  width: 120px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #191b4a;
}

.review-1 .container .main-form .search-bar {
  padding: 15px 20px;
  width: 100%;
  border-radius: 23px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: url(../img/review-1/search.svg) no-repeat scroll 20px 15px;
  padding-left: 60px;
  background-color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #73749c;
}

.review-1 .container .main-form .review-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2.7rem;
}
.review-1 .container .main-form .stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.7rem;
  gap: 5px;
}

.review-1 .container .main-form .stars-container .star {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #191b4a;
  margin-top: 2px;
  width: 15px;
}
.review-1 .container .main-form .stars-container svg {
  width: 23px;
  height: 23px;
}

.review-1 .container .main-form .stars-container .star-line {
  width: 100%;
  height: 10px;
  background: #eeeeee;
  border: 1px solid #c9c9c9;
  border-radius: 13px;
  overflow: hidden;
}

.review-1 .container .main-form .stars-container .star-line .star-active {
  background: #ffd66c;
  border-radius: 13px;
  height: 10px;
}

.review-1
  .container
  .main-form
  .stars-container:nth-child(4)
  .star-line
  .star-active {
  width: 70%;
}
.review-1
  .container
  .main-form
  .stars-container:nth-child(5)
  .star-line
  .star-active {
  width: 40%;
}
.review-1 .container .main-form .stars-container .star-line .star-active {
  width: 0%;
}

.review-1 .container .main-form .stars-container .star-total {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 40px;

  color: #191b4a;
}

.review-1 .container .main-form .review-btn {
  padding: 13px 20px;
  background: #191b4a;
  border-radius: 30px;
  margin-top: 2.2rem;
  cursor: pointer;
}

.review-1 .container .main-form .review-btn p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;

  color: #ffffff;
}

.payment-1 {
  height: 100vh;
  overflow: hidden;
  background: #4d4c7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.payment-1 .container {
  display: flex;
  width: 70%;
  padding: 5rem;
  background-color: #f2f5fc;
  box-shadow: 0px 8px 43px rgba(127, 156, 230, 0.2);
}
.payment-1 .container .col:first-child {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding-right: 2rem;
}
.payment-1 .container .col:first-child img {
  width: 60%;
  height: fit-content;
}

.payment-1 .container .col:last-child {
  width: 60%;
  padding-left: 1rem;
}

.payment-1 .container .col:last-child p:nth-child(1) {
  font-weight: 400;
  font-size: 20px;
  color: #84a5c6;
}

.payment-1 .container .col:last-child h2 {
  font-size: 32px;
  font-weight: 600;
  color: #064b8d;
}

.payment-1 .container .col:last-child h2 + p {
  font-weight: 400;
  font-size: 20px;
  color: #064b8d;
}

.payment-1 .container .col:last-child .cards {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem 1.6rem;
}

.payment-1 .container .col:last-child .cards .card {
  background: white;
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #63bafb;
  border-radius: 5px;
}
.payment-1 .container .col:last-child .cards .card:first-child {
  box-shadow: 0px 5px 15px #ccd7f8;
}

.payment-1 .container .col:last-child .cards .card p {
  font-weight: 400;
  font-size: 18px;
  color: #064b8d;
}

.payment-1 .container .col:last-child .cards .card:last-child {
  background-color: #fcfdff;
  border: 1px solid #dce3ea;
}

.payment-1 .container .col:last-child .cards .card:last-child img:first-child {
  width: 100px;
}

.payment-1 .container .col:last-child .cards .card:last-child div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #dce3ea;
}

.payment-1 .container .col:last-child h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #064b8d;
}

.payment-1 .container .col:last-child .cards + h3 {
  margin-top: 2rem;
}
.payment-1 .container .col:last-child input {
  width: 100%;
  background: #ffffff;
  border: none;
  outline: none;
  padding: 1rem;
  margin-top: 0.4rem;
  border: 1px solid #dce3ea;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #064b8d;
}
.payment-1 .container .col:last-child input::placeholder {
  color: #a1aab2;
  opacity: 0.7;
}

.payment-1 .container .col:last-child input + div {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem 1rem;
}
.payment-1 .container .col:last-child input + div div {
  flex: 1;
}

.payment-1 .container .col:last-child input + div div:first-child div {
  display: flex;
}
.payment-1
  .container
  .col:last-child
  input
  + div
  div:first-child
  div
  input:first-child {
  margin-right: 10px;
}
.payment-1 .container .col:last-child input + div > div:last-child input {
  width: 40%;
}

.payment-1 .container .col:last-child input + div + p {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #064b8d;
}
.payment-1 .container .col:last-child a {
  background: #064b8d;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 1.5rem;
  text-decoration: none;
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
