@import url("https://fonts.googleapis.com/css?family=Sanchez");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: red;
  --secondary: blue;
  --grey: #e4e4e4;
  --light-blue: #e6f5ff;
  --yellow: 255, 176, 88;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(231, 77, 92, 1) 0%, rgba(243, 119, 77, 1) 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top img {
  position: absolute;
  height: 50px;
  left: 0;
  animation: cloud 20s linear infinite;
}
.top h1 {
  font-family: "Sanchez", serif;
  font-size: 2rem;
  color: white;
  z-index: 10;
}
.sun-container {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 460px;
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sun {
  z-index: 1;
  width: 220px;
  height: 220px;
  background-color: rgba(var(--yellow), 1);
  border-radius: 50%;
  position: relative;
}

.sun-glow-1 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.3);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-1 4s linear infinite;
}

.sun-glow-2 {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.2);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-2 4s linear infinite;
}

.sun-glow-3 {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.1);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-3 4s linear infinite;
}

@keyframes cloud {
  from {
    left: 0;
  }
  to {
    left: 400px;
  }
}
@keyframes glow-1 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 300px;
    width: 300px;
  }
}

@keyframes glow-2 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 380px;
    width: 380px;
  }
}
@keyframes glow-3 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 460px;
    width: 460px;
  }
}
