@import url('https://fonts.googleapis.com/css?family=Sanchez');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: spotify;
  src: url('../font/spotify/CircularSpotifyText-Book.otf');
}

@font-face {
  font-family: spotifyLight;
  src: url('../font/spotify/CircularSpotifyText-Light.otf');
}

@font-face {
  font-family: spotifyBold;
  src: url('../font/spotify/CircularSpotifyText-Bold.otf');
}

:root {
  --primary: red;
  --secondary: blue;
  --grey: #e4e4e4;
  --light-blue: #e6f5ff;
  --yellow: 255, 176, 88;
  --moon: #eacd97;
  --moon-new: #382c58;
  --sky: #3a2e5d;
  --crater: #f0e4d0;
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(231, 77, 92, 1) 0%,
    rgba(243, 119, 77, 1) 100%
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top .cloud {
  position: absolute;
  height: 50px;
  left: 0;
  z-index: 0;
}

.top .cloud-1 {
  animation: cloud 20s linear infinite;
}

.top .cloud-2 {
  left: -100px;
  margin-top: -6rem;
  animation: cloud 20s linear infinite;
  animation-delay: 10s;
}
.top h1 {
  font-family: 'Sanchez', serif;
  font-size: 2rem;
  color: white;
  z-index: 10;
}

.top p {
  font-family: 'Sanchez', serif;
  font-size: 1.3rem;
  color: white;
}
.sun-container {
  position: absolute;
  top: -200px;
  right: -200px;
  height: 460px;
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sun {
  z-index: 1;
  width: 220px;
  height: 220px;
  background-color: rgba(var(--yellow), 1);
  border-radius: 50%;
  position: relative;
}

.sun-glow-1 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.3);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-1 4s linear infinite;
}

.sun-glow-2 {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.2);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-2 4s linear infinite;
}

.sun-glow-3 {
  position: absolute;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(var(--yellow), 0.1);
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: glow-3 4s linear infinite;
}

@keyframes cloud {
  from {
    left: -10%;
  }
  to {
    left: 100%;
  }
}
@keyframes glow-1 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 300px;
    width: 300px;
  }
}

@keyframes glow-2 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 380px;
    width: 380px;
  }
}
@keyframes glow-3 {
  from {
    height: 250px;
    width: 250px;
  }
  to {
    height: 460px;
    width: 460px;
  }
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  min-height: 200px;
  max-height: 250px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 80px;
    min-height: 80px;
  }
}

.moon-container {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefefe),
    to(#fffbe8)
  );
  background: -webkit-linear-gradient(#fefefe, #fffbe8);
  background: -o-linear-gradient(#fefefe, #fffbe8);
  background: linear-gradient(#fefefe, #fffbe8);
  opacity: 1;
}
.moon {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.crater-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--crater);
  bottom: 50px;
  right: 50px;
}

.crater-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--crater);
  bottom: 75px;
  right: 75px;
}

/* spotify */

.spotify {
  background: #121212;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.spotify .left-nav {
  width: 17rem;
  background: #000;
  display: flex;
  flex-direction: column;
}
.spotify .content {
  flex-basis: 100%;
}

.spotify .content .content-1 {
  padding: 1rem 2rem 2rem 2rem;
  background-color: rgb(80, 40, 240);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) 0px,
    rgb(18, 18, 18) 100%
  );
}

.spotify .content .content-2 {
  padding: 1rem 2rem 4rem 2rem;
  height: 300px;
  overflow: hidden;
}

.spotify .content .content-2.mt {
  margin-top: 2.4rem;
}

.spotify .content .content-2 .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spotify .content .content-2 .header-container h3 {
  font-family: spotify, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.spotify .content .content-2 .header-container p {
  font-family: spotify, sans-serif;
  color: rgb(179, 179, 179);
  font-size: 12px;
  font-weight: 700;
}

.spotify .content .content-2 .recent-shows {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0 20px;
}

.spotify .content .content-2 .recent-shows .album {
  border-radius: 7px;
  background-color: rgb(24, 24, 24);
  height: 240px;
}

.spotify .content .content-1 h2 {
  font-family: spotify, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-top: 2.2rem;
}

.spotify .content .content-1 .recent-albums {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 20px;
}

.spotify .content .content-1 .recent-albums .recent-album {
  height: 80px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.spotify .content .content-1 .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spotify .content .content-1 .profile {
  justify-content: center;
  align-items: center;
  display: flex;
}

.spotify .content .content-1 .profile .profile-upgrade {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0.1px solid white;
  border-radius: 2rem;
  margin-right: 1.5rem;
  padding: 0.3rem 1rem;
}

.spotify .content .content-1 .profile .profile-upgrade p {
  color: white;
  font-size: 14px;
  font-family: spotifyBold, sans-serif;
  padding-top: 3px;
}

.spotify .content .content-1 .profile .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 5px;
  background: #000;
  gap: 0.5rem;
}

.spotify .content .content-1 .profile .profile-container > p {
  color: white;
  font-size: 13.333px;
  font-family: spotifyBold, sans-serif;
  margin-top: 5px;
}

.spotify .content .content-1 .profile .profile-container .profile-dropdown {
  fill: white;
  margin-right: 6px;
}

.spotify
  .content
  .content-1
  .profile
  .profile-container
  .profile-img-container {
  background-color: #535353;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify
  .content
  .content-1
  .profile
  .profile-container
  .profile-img-container
  .user-profile {
  fill: white;
}

.spotify .content .content-1 .nav-container .controls-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.spotify .content .content-1 .nav-container .controls-container .control {
  background: black;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .content .content-1 .nav-container .controls-container .control svg {
  fill: white;
}

.spotify
  .content
  .content-1
  .nav-container
  .controls-container
  .control.left-control
  svg {
  margin-right: 0.1rem;
}

.spotify
  .content
  .content-1
  .nav-container
  .controls-container
  .control.right-control {
  margin-left: 0.6rem;
}

.spotify .player {
  background: rgb(24, 24, 24);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
}
.spotify .player .album-container {
  display: flex;
}
.spotify .player .album-container img {
  width: 56px;
  height: 56px;
}
.spotify .player .album-container .song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.9rem;
}

.spotify .player .album-container .song-title p:first-child {
  color: white;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1rem;
  font-family: spotify, sans-serif;
}

.spotify .player .album-container .song-title p:last-child {
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-family: spotify, sans-serif;
  letter-spacing: normal;
  line-height: 1rem;
}
.spotify .player .album-container .like-container {
  display: flex;
  align-items: center;
  margin-left: 1.7rem;
}

.spotify .player .album-container .like-container .spotify-like {
  fill: rgb(179, 179, 179);
}
.spotify .player .album-container .like-container .screen-share {
  margin-left: 1rem;
}
.spotify .player .album-container .like-container .screen-share g {
  fill: rgb(179, 179, 179);
}

.spotify .player .audio-container {
  display: flex;
  align-items: center;
}

.spotify .player .audio-container .audio-line {
  width: 93px;
  height: 4px;
  border-radius: 1rem;
  background-color: rgb(179, 179, 179);
  overflow: hidden;
}
.spotify .player .audio-container .audio-line .active-line {
  background-color: white;
  width: 70%;
  height: 100%;
}

.spotify .player .audio-container .connect,
.spotify .player .audio-container .connect-2,
.spotify .player .audio-container .lyric {
  fill: rgb(179, 179, 179);
  margin-right: 1rem;
}
.spotify .player .audio-container .speaker {
  margin-right: 0.5rem;
  fill: rgb(179, 179, 179);
}
.spotify .player .control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify .player .control-container .controls-buttons {
  display: flex;
  align-items: center;
}

.spotify .player .control-container .controls-buttons .repeat {
  fill: rgb(179, 179, 179);
}
.spotify .player .control-container .controls-buttons .back-button {
  fill: rgb(179, 179, 179);
  margin-left: 1.5rem;
}

.spotify .player .control-container .controls-buttons .play-container {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .player .control-container .controls-buttons .play-container .play {
  fill: rgb(24, 24, 24);
}

.spotify .player .control-container .controls-buttons .forward-button {
  fill: rgb(179, 179, 179);
}

.spotify .player .control-container .controls-buttons .loop {
  fill: rgba(255, 255, 255, 0.3);
  margin-left: 1.5rem;
}

.spotify .player .control-container .song-time-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify .player .control-container .song-time-container p {
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-family: spotify, sans-serif;
  letter-spacing: normal;
  margin-top: 4px;
}
.spotify .player .control-container .song-time-container .audio-line {
  width: 30vw;
  height: 4px;
  border-radius: 1rem;
  margin: 0 0.7rem;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.spotify
  .player
  .control-container
  .song-time-container
  .audio-line
  .active-line {
  background-color: white;
  width: 30%;
  height: 100%;
}
